.m-text-center {
  text-align: center;
}
.w50 {
  width: 50px;
  min-width: 50px;
}
.w100 {
  width: 100px;
  min-width: 100px;
}
.w150 {
  width: 150px;
  min-width: 150px;
}
.w200 {
  width: 200px;
  min-width: 200px;
}
#contextMenu {
  width: 120px;
  height: 80px;
  background-color: #fff;
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  border: 1px solid #babec5;
  justify-content: space-evenly;
}

#contextMenu button {
  height: 32px;
  padding-left: 10px;
  padding-right: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  background-color: #fff;
  border: unset;
  background: unset;
}

#contextMenu button:hover {
  background-color: #E9EBEE;
  color: #2ca01c;
}


.m-flex-space {
  flex-grow: 1 !important;
  padding: 0;
  margin: 0;
  background: 0 0;
}
